.Home {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}
.Left{
    background-image: url('../assets/Yo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    min-height: 500px;
}


.Right {
    padding-top: 5% ;
    width: 40%;

}

.Button {
    margin: 1%;
    margin-top: 5%;
    background-color: #D497F1;
    border-radius: 10px;
    padding: 2% 5%;
    border: none;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.15em;
    color: white;
    box-shadow: 5px 5px 3px #00000048;
}